body {
    font-family: sans-serif;
    width: 880px;
    margin: auto;
    text-align: center;
    background-color: #d9e1e9;
    color: #3a4450;
}

h2 {
    margin: 24px 0 5px 0; 
    color: #3a4450;
}

h3 {
    margin: 8px 0 8px 0;
}

label {
    font-size: 18px;
}

.qContainer {
    background-color: #ecf1f7;
    border-radius: 10px;
}

/*Dark-mode properties*/
.darkMode {
    background-color: #282f38;
    color: #c6ced8;
}

.qDarkContainer {
    background-color: #3a4450;
}

.darkH2 {
    color: #d9e1e9;
}

.darkH3 {
    color: #c6ced8;
}

.darkLabels {
    color: #c6ced8;
}