body {
    font-family: "Segoe UI";
    width: 880px;
    margin: auto;
    background-color: #d9e1e9;
    color: #3a4450;
}

.headingContainer {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    flex-grow: 4;
    padding-left: 120px;
    margin-bottom: 0;
}

h2 {
    margin: 24px 0 5px 0; 
    color: #3a4450;
    display: none;
}

h3 {
    margin: 8px 0 8px 24px;
    font-size: 22px;
}

label {
    font-size: 18px;
}

input {
    margin-left: 24px;
}

button {
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: bold;
    background-color: #768291;
    color: #ecf1f7;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 8px 25px;
    cursor: pointer;
}

button:hover {
    background-color: #a4b3c7;
}

.btnContainer {
    text-align: center;
    margin-bottom: 15px;
}

.btnContainer:first-of-type {
    align-self: flex-end;
    margin: 0;
}

.resultContainer {
    display: none;
    width: 75%;
    margin: auto;
    margin-bottom: 16px;
    background-color: #ecf1f7;
    text-align: center;
    padding: 1px;
    border-radius: 30px;
}

.qContainer {
    background-color: #ecf1f7;
    border-radius: 10px;
    margin: 15px 0px 15px 0px;
    padding-bottom: 15px;
    height: auto;
}

.imgContainer {
    text-align: center;
}

.imgContainer img {
    width: 95%;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 10px;
}

.imgPuffin {
    object-position: 0px 18%;
}

.imgRooster {
    object-position: 0px 30%;
}

.imgOstrich {
    object-position: 0px 30%;
}

.imgRhino {
    object-position: 0px 60%;
}

.imgFlamingo {
    object-position: 0px 30%;
}

.imgBat {
    object-position: 0px 100%;
}

.imgCat {
    object-position: 0px 30%;
}


/*Dark-mode properties*/
.darkMode {
    background-color: #282f38;
    color: #ecf1f7;
}

.qDarkContainer {
    background-color: #3a4450;
}

.darkResultContainer {
    background-color: #3a4450;
}

.darkBtn {
    background-color: #3a4450;
}

.darkBtn:hover {
    background-color: #576575;
}

.darkH2 {
    color: #d9e1e9;
}

.darkH3 {
    color: #c6ced8;
}

.darkLabels {
    color: #c6ced8;
}